temp/

git kraken:
eJwdy7EKwjAQANB/uTlLKaJm0y5V0EUpbiFNr21ImguXxlrEfxe6Pnhf0MZgSmomhwEkDCMpPtzHqhlT/061qy/B7stb44vz83R1x6p4PXa5BAFbUfMaESS0qBkZBCRDG+huskHG3HprlMNVMOpOEg+CMZLICVnipK0XC7HrPS0gAD/RMialZ5Ahe//7A247OJ8=


ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBVFVT+Id7bTfRYtv2ROUT0sFqNj+jd+1oVWLUvfPjUZ felippenobresouza@gmail.com

git/